<ion-header>
  <ion-toolbar>
    <ion-title>Restablecer Contraseña</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="resetForm" (ngSubmit)="onSubmit()">
    <ion-item>
      <ion-label position="floating">Nueva Contraseña</ion-label>
      <ion-input type="password" formControlName="nuevaContraseña"></ion-input>
    </ion-item>
    <ion-item *ngIf="resetForm.controls['nuevaContraseña'].invalid && (resetForm.controls['nuevaContraseña'].dirty || resetForm.controls['nuevaContraseña'].touched)">
      <ion-label color="danger">La nueva contraseña es requerida</ion-label>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Confirmar Contraseña</ion-label>
      <ion-input type="password" formControlName="confirmarContraseña"></ion-input>
    </ion-item>
    <ion-item *ngIf="resetForm.controls['confirmarContraseña'].invalid && (resetForm.controls['confirmarContraseña'].dirty || resetForm.controls['confirmarContraseña'].touched)">
      <ion-label color="danger">Debe confirmar la contraseña</ion-label>
    </ion-item>

    <ion-button expand="full" type="submit" [disabled]="!resetForm.valid">Actualizar Contraseña</ion-button>
  </form>
</ion-content>
