<ion-header [translucent]="true">
  <ion-toolbar color="botani">
    <ion-title>Ayudas Prácticas y Consejos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container">
    <h3 class="h3">Según tu jardín actual te puede interesar...</h3>
  </div>
  <ion-card *ngFor="let planta of plantas">
    <ion-img [src]="planta.imagen" class="imagen-animada"></ion-img>
    <ion-card-header>
      <ion-card-title>{{ planta.nombre }}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      {{ planta.descripcion }}
    </ion-card-content>
  </ion-card>
    <div id="container">
      <button (click)="goToAnadir()" class="btnhome" size="large">Saber más...
      </button>
    </div>
</ion-content>

