<ion-header>
  <ion-toolbar>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <ion-item>
      <ion-label position="floating">Usuario</ion-label>
      <ion-input formControlName="usuario"></ion-input>
    </ion-item>
    <ion-item *ngIf="loginForm.controls['usuario'].invalid && (loginForm.controls['usuario'].dirty || loginForm.controls['usuario'].touched)">
      <ion-label color="danger">El usuario es requerido</ion-label>
    </ion-item>
    
    <ion-item>
      <ion-label position="floating">Contraseña</ion-label>
      <ion-input type="password" formControlName="contraseña"></ion-input>
    </ion-item>
    <ion-item *ngIf="loginForm.controls['contraseña'].invalid && (loginForm.controls['contraseña'].dirty || loginForm.controls['contraseña'].touched)">
      <ion-label color="danger">La contraseña es requerida</ion-label>
    </ion-item>
    
    <ion-button expand="full" type="submit" [disabled]="!loginForm.valid">Login</ion-button>
  </form>
</ion-content>
