ion-toolbar{
    background-color: var(--ion-color-botani);
}

ion-title{
    color: var(--ion-color-botani-contrast);
 }


 ion-content {
    --padding-start: 16px;
    --padding-end: 16px;
  }
  
  ion-img {
    margin-top: 20px;
    width: 100%;
    height: auto;
  }