<ion-header [translucent]="true">
  <ion-toolbar color="botani">
    <ion-title>Tus Plantitas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Plantas</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-list>
    <ion-item *ngFor="let planta of plantas">
      <ion-thumbnail slot="start">
        <img [src]="planta.image_url" />
      </ion-thumbnail>
      <ion-label>
        <h2>{{ planta.common_name }}</h2>
        <p>{{ planta.description }}</p>
      </ion-label>
      <ion-button fill="clear" color="danger" (click)="confirmDeletePlanta(planta.id)">
        <ion-icon slot="icon-only" name="close-circle"></ion-icon>
      </ion-button>
      <ion-button fill="clear" color="primary" (click)="goToPlantasMias(planta)">
        <ion-icon slot="icon-only" name="alarm"></ion-icon>
        Seleccionar Alarma
      </ion-button>
    </ion-item>
  </ion-list>

  <ion-button expand="full" (click)="goToAnadir()">Añadir Planta</ion-button>
</ion-content>
